name: 游늵 Atualiza Linguagens GitHub

on:
  schedule:
    - cron: "0 11 * * 1"  # toda segunda 맙 08h BR
  workflow_dispatch:

permissions:
  contents: write   # necess치rio para commit do SVG

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Atualiza m칠tricas
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: MarcoTuliops22
          base: repositories                  # analisa todos os reposit칩rios
          plugin_languages: yes               # ativa plugin de linguagens
          plugin_languages_details: percentage # mostra porcentagem
          plugin_languages_limit: 20          # m치ximo de linguagens exibidas
          filename: github-languages.svg      # nome do SVG que ser치 gerado
          output_action: commit               # faz commit autom치tico
