name: Linguagens do GitHub

on:
  workflow_dispatch:  # Permite rodar manualmente
  schedule:
    - cron: "0 0 * * *"  # Executa todo dia à meia-noite

permissions:
  contents: write

jobs:
  languages:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          filename: metrics.svg
          base: repositories
          plugin_languages: yes
          plugin_languages_details: percentage
          plugin_languages_limit: 8

      - run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add metrics.svg
          git commit -m "Atualiza métricas de linguagens" || echo "Nada para commitar"
          git pull --rebase
          git push
